input[required]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red !important;
    opacity: 1; /* Firefox */
}
.btnblock{
    width: 100% !important;
}
input[type=password]:not(.browser-default):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #424242 !important;
    -webkit-box-shadow: 0 1px 0 0 #424242 !important;
    box-shadow: 0 1px 0 0 #424242 !important;
}
.nav-wrapper .fas{
    font-size: 14px;
}
.navUserInfo > a{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 130px;
    white-space: nowrap;
}
ul{
    margin: 0;
    padding: 0;
}
.noMarginPadding{
    margin: 0 !important;
    padding: 0 !important;

}
.marginLR-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.page-footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.far.inherit{
    font-weight: bold !important;
}
.fas.inherit{
    font-weight: 400 !important;
}
.datePicker > div.col {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.hideHelperText .helper-text {
    display: none !important;
}